extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Adam Cessna

        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            |Learning to program on my own time with a family and fulltime has been hard, but the reward far outweighs the sacrifices made to get it done. 
            |Tech has been a passion of mine since I was a young boy, but I am now making it my career of choice. I would love the opportunity to partner with you and develop something that is both well-engineered and elegant. 

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li Express
          li Node.js
          li HTTP
          li HTML
          li CSS
          li Pug
          li npm
          li JSON
          li JavaScript
          li jQuery 
          li Git 
        h6 Contact Info

        ul
          li 409-719-7646
          li adam.cessna.dev@gmail.com 

        a.button.expanded(href='https://www.linkedin.com/in/adam-cessna-6587aab5/' target="_blank" ) LinkedIn
        a.button.expanded(href='https://github.com/acessna' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/_adam_cessna_' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  